.skeleton.text {
    width: 100%;
}
.skeleton.title {
    width: 100px;
}
.skeleton.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}

